@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nanum+Gothic+Coding&display=swap');
/*font-family: 'Caveat', cursive;
font-family: 'Nanum Gothic Coding', monospace;*/
* {font-family: 'Caveat', cursive;}
html {overflow-x: hidden;}

/* logo */
h1{
    position: fixed; top: 60px; right: 70px;
    z-index: 999;
}
h1 img {
    width: 100px;
}

/* navigation */
#menu {
    position: fixed;
    top: 50%; transform: translateY(-50%);
    right: 50px;
    font-size: 22px;
    font-weight: bold;
    z-index: 999;
}
#menu li {
    position: relative;
    color: #fff;
    text-align: right;
}
#menu li a {
    display: block;
    height: 50px;
    padding: 30px;
}
#menu li::before {
    content: '';
    height: 25px;
    width: 3px;
    background: #fff;
    position: absolute;
    top: 30px; right: 0;
    transition: all 0.2s;
}
#menu li.on {
    color: #072a3c;
    font-size: 25px;
    text-shadow: 1px 1px 1px #000;

}
#menu li.on::before {
    background: #072a3c;
}
#menu li:hover {
    color: #072a3c;
    font-size: 25px;
    text-shadow: 1px 1px 1px #000;
}
#menu li:hover::before {
    background: #072a3c;
}

/* section */
section {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}
section > div {
    width: 100%;
    height: 100%;
}
#sect2,#sect3,#sect4,#sect5 {
    background:#6c9eb7;
}
#sect2 div h2, #sect4 div h2 {
    color: #efe032;
    font-size: 110px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    margin-top: 100px;
}

/* section1 */
#sect1 {
    background-image:url(../images/pexel6.jpg) ;
}
#sect1 h3 {
    position: absolute;
    top: 560px;
    left: 350px;
    font-size: 40px;
    font-weight: normal;
    color: #fff;
}
#sect1 h3 span {
    color: #efe032;
    font-weight: bold;
}
#sect1 h3 p {
    animation: shakeY 6s infinite ;
    margin-top: 17px;

}

/* section2 */
#sect2 > div > div {
    width: 80%;
    height: 80%;
    display: flex;
    transform: translateX(200px);
}
#sect2 .image {
    width: 30%;
    text-align: right;
    padding-top: 200px;
}
#sect2 .image img {
    width: 200px;
    height: auto;
    border: 2px solid #555;
    border-radius: 50%;
}
#sect2 .intro {
    width: 70%;
} 


/* section3 */
#sect3 div h2{
    color: #efe032;
    font-size: 110px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}
#sect3 .graphbox {
    width: 55%;
    height:45%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 220px;
    display: flex;
}
#sect3 .graphbox .score {
    width: 5%;
    height: 100%;
    margin: 0 5.83%;
    border: 2px solid #222;
    position: relative;
    border-radius: 50px;
    box-shadow: 1px 1px 1px #333 , 2px 2px 2px #444;
    background: #ddd;
}
#sect3 .graphbox .score p {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    text-shadow: 1px 1px 1px #000;
}
#sect3 .graphbox .score .myscore {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    border-radius: 0 0 50px 50PX;
    background: #222;
}
#sect3 .graphbox .score .photo {
    opacity: 0.5;
}
#sect3 .graphbox .score .illu {
    opacity: 0.6;
}
#sect3 .graphbox .score .html {
    opacity: 0.9;
}
#sect3 .graphbox .score .css {
    opacity: 0.8;
}
#sect3 .graphbox .score .js {
    opacity: 0.4;
}
#sect3 .graphbox .score .jq {
    opacity: 0.7;
}


/* section4 */

/* section5 */
#sect5 > div {
    background: url(../images/grgr.png) no-repeat;
    transform: translate(170px,120px);
}
#sect5 > div h2 {
    position: absolute;
    top: 90px; right: 700px;
    color: #efe032;
    font-size: 90px;
    z-index: 99;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000;
}
#sect5 form {
    background: url(../images/memo1.png) no-repeat;
    background-size: contain;
    width: 900px;
    height: 679.285px;
    display: flex;
    margin: 0 auto;
    transform: translate(30px,35px);
    padding-top: 260px;
    font-size: 30px;
    color: #072a3c;
    text-shadow: 0px 1px 0px #000;
}
#sect5 form > div {
    width: 40%;
}
#sect5 form > div:nth-child(1) {
    padding-left: 50px;
    margin-left: 10%;
}
#sect5 form > div:nth-child(2) {
    margin : 0 5%;
    padding-left: 30px; 
}
#sect5 form > div:nth-child(1) p {
    margin-bottom: 30px;
}
#sect5 form > div:nth-child(2) p {
    margin-bottom: 10px;
}
#sect5 form > div p label {
    display: block;
}
#sect5 form > div p input {
    background-color: inherit;
    border-bottom:2px solid #072a3c;
    outline: none;
    width: 200px;
    font-size: 16px;
    font-family: 'Nanum Gothic Coding', monospace;
    padding: 5px;
    cursor: pointer;
}
#sect5 form > div p textarea {
    background-color: inherit;
    outline: none;
    border: 2px solid #072a3c;
    width: 250px;
    height: 200px;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Nanum Gothic Coding', monospace;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}
#sect5 form > div p button {
    width: 20%;
    font-size: 23px;
    background-color: #ddd;
    border: 1px solid #555;
    border-radius: 3px;
    margin-left: 180px;
    cursor: pointer;
    padding: 2px 0;
    text-shadow: 0px 1px 0px #000;
}

/* loading */
.outer { 
    position:fixed;
    top:0; left:0; right:0; bottom:0;
    background:#000;
    z-index:9999;
    display:flex;
    justify-content: center; 
    align-items:center;
}
.outer img {
    width: 50%;
}
.outer p {
    position: absolute;
    bottom: 300px;
    left: 900px ;
    color: #fff;
    z-index: 99999999;
    font-size: 50px;
}


/* copyright */
#copy p{
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: 'Nanum Gothic';
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: normal;
    padding: 17px 0;
    font-size: 12px;
    opacity: 0.5;
}
